.loading-screen-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(255, 255, 255, .8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}